*, body {
  margin: 0;
  padding: none;
  font-family: Helvetica, Arial, sans-serif;
  outline: 0;
}
#headerstrip {
  display: block;
  width: 100%;
  height: 40px;
  background: #444444;
  color: #dddddd;
}
#header {
  position: relative;
  width: 700px;
  margin: 0 auto;
}
#header h2 {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 20px;
}
#header #right {
  position: absolute;
  right: 0px;
  top: 10px;
}
#header a {
  color: #dddddd;
  text-decoration: none;
}
#header a:hover { text-decoration: underline; }
#container {
  width: 700px;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  clear: both;
}
#sidebar {
  float: right;
  width: 200px;
  padding: 8px 0 4px 6px;
  border-left: solid #444444 2px;
}
#main { width: 460px; }
h1 { margin-bottom: 16px; }
h3, h4 { margin-bottom: 10px; }
p { margin-bottom: 4px; }
a {
  color: #444444;
  text-decoration: underline;
}
a:hover { text-decoration: none; }
.selectors {
  text-align: center;
  width: 100%;
  border-bottom: solid #dddddd 2px;
  margin-bottom: 16px;
}
.selectors a {
  padding: 0 15px 0 15px;
  font-size: 20px;
  text-decoration: none;
}
.selected { color: black; }
form table { border-collapse: collapse; }
form tr { border-collapse: collapse; }
form td.outside { border-bottom: none; }
form td {
  padding: 0 5px 4px 20px;
  text-align: left;
}
form th {
  padding: 0 5px 4px 20px;
  text-align: left;
}
.comment {
  border-top: solid #444444 2px;
  padding: 4px;
  margin-bottom: 10px;
}
.owner {
  background: #444444;
  color: #ffffff;
}
.owner a { color: #dddddd; }
.clear {
  display: block;
  padding-top: 20px;
  clear: both;
}
#footer {
  width: 700px;
  margin: 0 auto;
  border-top: solid #dddddd 2px;
  padding-top: 8px;
}
#footer p { font-size: 75%; }
