@width: 700px;
@side_width: 200px;
@spacing: 40px;

@header_color: #ddd;
@header_background: #444;

*, body{margin:0; padding:none; font-family: Helvetica, Arial, sans-serif; outline: 0;}

#headerstrip{
	display: block;
	width: 100%;
	height: 40px;
	background: @header_background;
	color: @header_color;
}
#header{
	position: relative;
	width: @width;
	margin: 0 auto;
	h2{
		position: absolute;
		left: 0;
		top: 10px;
		font-size: 20px;
	}
	#right{
		position: absolute;
		right: 0px;
		top: 10px;
	}
	a{
		color:#ddd; text-decoration: none;
		:hover {text-decoration: underline}
	}
}

/*---------------------
above is for the header
---------------------*/

#container{
	width: @width;
	margin: 0 auto;
	padding: 20px 0 20px 0;
	clear: both;
}

/*---------------------
this is for the sidebar
---------------------*/
#sidebar{
	float: right;
	width: @side_width;
	padding: 8px 0 4px 6px;
	border-left: solid @header_background 2px;

}

#main{
	width: @width - (@side_width + @spacing);
}

h1{
	margin-bottom: 16px;
}

h3, h4{
	margin-bottom: 10px;
}

p{
	margin-bottom: 4px;
}

a{
	color: @header_background;
	text-decoration: underline;
	:hover {text-decoration: none}
}

.selectors{
	text-align: center;
	width: 100%;
	border-bottom: solid @header_color 2px;
	margin-bottom: 16px;
	a{
		padding: 0 15px 0 15px;
		font-size: 20px;
		text-decoration: none;
	}
}
.selected{
	color: black;
}

form{
	table {border-collapse: collapse;}
	tr {border-collapse: collapse;}
	td.outside{border-bottom: none;}
	td, th {padding: 0 5px 4px 20px; text-align: left;}
}

.comment{
	border-top: solid @header_background 2px;
	padding: 4px;
	margin-bottom: 10px;
}
.owner{
	background: @header_background;
	color: #fff;
	a{color: @header_color;}
}

/*---------------------
below is for the footer
---------------------*/
.clear{
	display: block;
	padding-top: 20px;
	clear: both;
}
#footer{
	width: @width;
	margin: 0 auto;
	border-top: solid @header_color 2px;
	padding-top: 8px;
	p{
		font-size:75%;
	}
}


